[submodule "org.mutagen.evraz.api"]
	path = org.mutagen.evraz.api
	url = git@github.com:meditrace-org/org.mutagen.evraz.api.git
[submodule "org.mutagen.evraz.telegram_bot"]
	path = org.mutagen.evraz.telegram_bot
	url = git@github.com:meditrace-org/org.mutagen.evraz.telegram_bot.git
[submodule "org.mutagen.evraz.rabbitmq"]
	path = org.mutagen.evraz.rabbitmq
	url = git@github.com:meditrace-org/org.mutagen.evraz.rabbitmq.git
[submodule "org.mutagen.evraz.mongodb"]
	path = org.mutagen.evraz.mongodb
	url = git@github.com:meditrace-org/org.mutagen.evraz.mongodb.git
